<mat-toolbar class="mat-elevation-z6 navbar" color="accent">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-logo (click)="home()"></app-logo>
  </div>
  <div fxHide.lt-md>
    <app-logo (click)="home()"></app-logo>
    <button class="active-btn" mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Начало</span>
    </button>
    <button class="active-btn" mat-button routerLink="/announcement/create" routerLinkActive="active">
      <mat-icon>add_circle</mat-icon>
      <span>Добави обява</span>
    </button>
  </div>
  <span fxFlex></span>
  <div *ngIf="!isAuthenticated()" fxHide.lt-md>
    <button class="active-btn" mat-button routerLink="/user/login" routerLinkActive="active">
      <span>Вход</span>
    </button>
    <button class="active-btn" mat-button routerLink="/user/register" routerLinkActive="active">
      <span>Регистрация</span>
    </button>
  </div>
  <button *ngIf="isAuthenticated()" class="active-btn" mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <div>

  </div>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
