@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  color: mat-color($app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.menu-button {
  margin-right: 1rem;
}

.brand-icon {
  vertical-align: middle;
  background-color: white;
  border-radius: 200px;
  font-size: 35px;
  width: auto;
  height: auto;
  padding: 5px;
}

.wrapper{
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

.wrapper strong{
  margin-left: -6px;
  margin-right: -6px;
}
