.inline-control {
  display: inline-block;

  mat-form-field {
    width: 90px;
  }
}

.main-mat-card {
  margin: auto;
  max-width: 1168px;
}

.form-control-column {
  width: 280px;
}

.condition-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.form-control-condition {
  width: 180px;
  text-align: start;
  margin: auto;
}

.condition-radio-button {
  margin: 5px;
}

@media screen and (min-width: 900px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding-top: 1rem;
    text-align: center;
  }

  .mat-card {
    width: 310px !important;
  }
}
