<div *ngIf="!isLoading" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem"
  class="mat-typography">
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Потребителски данни</mat-card-title>
      </mat-card-header>
      <form (ngSubmit)="editUserInfo()" [formGroup]="userInfoForm">
        <div class="login-fields" fxLayout="column">
          <mat-form-field>
            <input type="text" matInput formControlName="username" [placeholder]="'Потребителско име'" />
          </mat-form-field>
          <mat-form-field>
            <input type="email" matInput formControlName="email" [placeholder]="'Имейл'" />
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput formControlName="firstName" [placeholder]="'Име'" />
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput formControlName="lastName" [placeholder]="'Фамилия'" />
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput formControlName="telephone" [placeholder]="'Телефон'" />
          </mat-form-field>
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="userInfoForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span>Запази</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
