<div #container class="container">
  <mat-card class="main-mat-card" [ngStyle]="{width: mainMatCardWidth}" #mainMatCard>
    <div fxLayout="row wrap">
      <div class="left-column">
        <div class="search-holder">
          <form [formGroup]="searchForm">
            <div *ngIf="containsControl('mainCategoryId')" class="form-element">
              <mat-form-field appearance="legacy">
                <mat-select placeholder="Основна категория" formControlName="mainCategoryId">
                  <mat-option [value]="categoryPair.mainCategory.id" *ngFor="let categoryPair of categories">
                    {{ categoryPair.mainCategory.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="containsControl('make')">
              <mat-form-field appearance="legacy">
                <mat-select placeholder="Марка" formControlName="make">
                  <mat-optgroup *ngFor="let group of makeGroups | keyvalue" [label]="group.key">
                    <mat-option *ngFor="let make of group.value" [value]="make.make">
                      {{ make.make }}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="containsControl('model')">
              <mat-form-field appearance="legacy">
                <mat-select placeholder="Модел" formControlName="model">
                  <mat-option [value]="model" *ngFor="let model of models">{{ model }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="containsControl('region')">
              <mat-form-field appearance="legacy">
                <mat-select placeholder="Регион" formControlName="region">
                  <mat-option [value]="region.key" *ngFor="let region of regions | keyvalue"> {{ region.key }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <div *ngIf="containsControl('dateOfManufactureFrom')" class="inline-control">
                <mat-form-field appearance="legacy">
                  <mat-select placeholder="Година от" formControlName="dateOfManufactureFrom">
                    <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="containsControl('dateOfManufactureTo')" class="inline-control">
                <mat-form-field appearance="legacy">
                  <mat-select placeholder="Година до" formControlName="dateOfManufactureTo">
                    <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div>
              <div *ngIf="containsControl('priceMin')" class="inline-control">
                <mat-form-field appearance="legacy">
                  <input type="number" matInput placeholder="Цена от" formControlName="priceMin" />
                </mat-form-field>
              </div>
              <div *ngIf="containsControl('priceMax')" class="inline-control">
                <mat-form-field appearance="legacy">
                  <input type="number" matInput placeholder="Цена до" formControlName="priceMax" />
                </mat-form-field>
              </div>
            </div>
            <div>
              <button type="submit" class="btn-search" mat-raised-button color="primary"
                (click)="submitSearchForm()">Търси</button>
            </div>
            <div class="search-btn-holder">
              <a (click)="globalSearch()">Разширено търсене</a>
              <span>|</span>
              <a (click)="clean()">Изчисти</a>
            </div>
          </form>
        </div>
        <div class="about-services">
          <div>
            <span class="title">За нашите услуги</span>
          </div>
          <div>
            <span>carsell.bg е сайт за безплатни авто обяви, където имате възможност да публикувате или търсите в
              следните категории:
              <span *ngFor="let categoryPair of categories; let i = index;">{{ categoryPair.mainCategory.name }} <span
                  *ngIf="i < categories.length - 1">,</span></span>
            </span>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="image-slide-holder">
          <app-image-slide></app-image-slide>
        </div>
        <div class="bold categories-title-holder">
          <span>Последно добавени в категория {{initFormCategory.name}}</span>
        </div>
        <div>
          <app-list-announcements *ngIf="isLoading == false" [countOfItemsToList]="countOfItemsToList"
            [announcements]="announcements">
          </app-list-announcements>

          <div class="show-all-btn-holder" *ngIf="showAll">
            <button color="primary" (click)="showAllAnnouncements()" mat-raised-button>Покажи всички</button>
          </div>

        </div>
      </div>

    </div>

  </mat-card>

</div>
