@import "../../theme/theme-variables.scss";

.main-mat-card {
  margin: auto;
  max-width: 1168px;
}

.left-column {
  width: 280px;
  margin-right: 16px;
}

.right-column {
  min-width: 280px;
  width: calc(100% - 296px)
}

.search-holder {
  background-color: rgba(243, 243, 243, 0.671);
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
}

.search-btn-holder {
  margin-top: 10px;
  color: mat-color($app-primary, default);
  cursor: pointer;
}

.search-btn-holder a:hover {
  text-decoration: underline;
}

.about-services {
  background-color: rgba(94, 94, 94, 0.671);
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

.show-all-btn-holder {
  float: right;
  padding-right: 5px;
  margin-top: 5px;
}

.categories-title-holder {
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 5px;
  background-color: rgba(243, 243, 243, 0.671);
}

.image-slide-holder {
  margin-bottom: 10px;
}

.inline-control {
  display: inline-block;

  mat-form-field {
    width: 90px;
  }
}

.btn-search {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding-top: 1rem;
    text-align: center;
  }

  .mat-card {
    width: 310px !important;
  }

  .left-column {
    margin-right: 0px;
  }
}
