@import "../../../../theme/theme-variables.scss";

.selected-image {
  width: 100%;
  height: auto;
}

.small-image {
  width: 96px;
  height: 66px;
  object-fit: contain;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.selected-small-image {
  opacity: 0.5;
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

.bold {
  font-weight: bold;
}

.blue {
  color: mat-color($app-primary, default);
}

.btn-change-img {
  position: relative;
  top: 50%;
}

.change-img-btn-holder {
  position: relative;
}

a.change-img {
  position: absolute;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

a.change-img.left {
  left: 0;
}

a.change-img button {
  opacity: 0.5;
  transition: 0.3s
}

a.change-img:hover button {
  opacity: 1;
}

a.change-img.left button {
  position: absolute;
  top: 50%;
  left: 0;
}

a.change-img.right {
  right: 0;
}

a.change-img.right button {
  position: absolute;
  top: 50%;
  right: 0;
}
