$my-green: (
  50: #f1f7dc,
  100: #e3eeb9,
  200: #d1e28b,
  300: #bed65c,
  400: #b0ce39,
  500: #a2c516,
  600: #9abf13,
  700: #90b810,
  800: #86b00c,
  900: #75a306,
  A100: #efffcf,
  A200: #deff9c,
  A400: #cdff69,
  A700: #c5ff4f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$my-grey: (
  50: #b1b3b4,
  100: #a4a7a8,
  150: #e7eaec,
  200: #979a9b,
  300: #8a8d8f,
  400: #7d8182,
  500: #6a6d6e,
  600: #646768,
  700: #575a5b,
  800: #4b4d4e,
  900: #3e4041,
  A100: #f2f2f3,
  A200: #e5e6e6,
  A400: #d8d9da,
  A700: #bec0c1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);