<mat-card *ngIf="announcement != undefined" ngClass.xs="xs-container">
  <mat-card-header>
    <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center">
      <div class="title-holder">
        <mat-card-title>{{ announcement.make }} {{ announcement.model }}</mat-card-title>
        <mat-card-subtitle>{{ announcement.price }} {{ announcement.currency }}</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="50%" fxFlex.xs="100%">
        <div>
          <a>
            <img (click)="previewImage()" class="selected-image" [src]="selectedImage.url" />
          </a>
        </div>
        <div class="images-container" fxLayoutAlign="center">
          <div>
            <button class="btn-slide" mat-icon-button color="primary" (click)="scrollLeft()">
              <mat-icon>navigate_before</mat-icon>
            </button>
          </div>

          <div #imagesContent class="images-slider">
            <a *ngFor="let image of images" (click)="selectImage(image)">
              <img class="small-image" [ngClass]="{'selected-small-image': image.isSelected}" [src]="image.url" />
            </a>
          </div>

          <div>
            <button class="btn-slide" mat-icon-button color="primary" (click)="scrollRight()">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign.xs="center">
        <table>
          <tr>
            <td class="info-item-left">Дата на производство</td>
            <td class="info-item-right">{{ announcement.dateOfManufacture }}</td>
          </tr>
          <tr>
            <td class="info-item-left">Тип двигател</td>
            <td class="info-item-right">{{ announcement.engineType }}</td>
          </tr>
          <tr>
            <td class="info-item-left">Мощност</td>
            <td class="info-item-right">{{ announcement.horsePower }} к.с.</td>
          </tr>
          <tr>
            <td class="info-item-left">Евростандарт</td>
            <td class="info-item-right">{{ announcement.emissionStandartType }}</td>
          </tr>
          <tr>
            <td class="info-item-left">Скоростна кутия</td>
            <td class="info-item-right">{{ announcement.gearboxType }}</td>
          </tr>
          <tr>
            <td class="info-item-left">Категория</td>
            <td class="info-item-right">{{ announcement.subCategory.name }}</td>
          </tr>
          <tr>
            <td class="info-item-left">Пробег</td>
            <td class="info-item-right">{{ announcement.mileage }} км</td>
          </tr>
          <tr>
            <td class="info-item-left">Цвят</td>
            <td class="info-item-right">{{ announcement.color }}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Потвърди обявата</button>
    <button mat-raised-button color="warn">Изтрий обявата</button>
  </mat-card-actions>
</mat-card>
