.info-item-left {
  text-align: left;
}

.info-item-right {
  font-weight: bold;
  text-align: left;
}

.selected-image {
  width: 490px;
  height: 341px;
  object-fit: contain;
}

.small-image {
  width: 96px;
  height: 66px;
  object-fit: contain;
  margin-left: 2px;
  margin-right: 2px;
}

.selected-small-image {
  opacity: 0.5;
}

.images-slider {
  overflow: hidden;
  width: 490px;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.images-container {
  display: flex;
}

.title-holder {
  width: 490px;
  text-align: left;
}

.btn-slide {
  top: 50%;
  transform: translateY(-50%);
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

@media(max-width:600px) {
  .selected-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
