.option {
  display: inline-block;
  width: 30px;
  text-align: center;
}

img {
  vertical-align: middle;
}

.item-image {
  height: 180px;
}

.item {
  margin: 5px;
  width: 270px;
}

.item-btn {
  width: 100%;
}

.item-holder {
  text-align: start;
}
