.option {
  display: inline-block;
  width: 30px;
  text-align: center;
}

img {
  vertical-align: middle;
}

.item-image {
  height: 50%;
}

.item {
  margin: 5px;
  min-width: 270px;
  max-width: 300px;
  width: 30%;
}

.item-btn{
  width: 100%;
}

.item-holder{
  text-align: start;
}