<div class="item-holder" fxLayout="row wrap" fxLayoutAlign.sm="center" fxLayoutAlign="flex-start">
  <mat-card class="item" *ngFor="let announcement of announcementsToList">
    <mat-card-header>
      <mat-card-title>{{announcement.title}}</mat-card-title>
      <mat-card-subtitle>{{announcement.price}}</mat-card-subtitle>
    </mat-card-header>
    <img class="item-image" mat-card-image [src]="announcement.image.url" />
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex="50%" *ngFor="let optionPair of announcement.options | keyvalue">
          <div class="option">
            <img [src]="optionPair.key" />
          </div>
          {{optionPair.value}}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="item-btn" (click)="preview(announcement.id)" mat-raised-button color="primary">Виж повече
        детайли</button>
    </mat-card-actions>
  </mat-card>

</div>
