.container {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.search-holder {
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: rgba(243, 243, 243, 0.671);
  text-align: start;
}

.search-btn-holder {
  text-align: start;
  margin-bottom: 10px;
}
