@import "../../../theme/theme-variables.scss";

.mall-slide {
  background-color: #f5f5f5;
  width: 100%;
}

.mall-slide .slid-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.caption {
  text-align: start;
  z-index: 10;
  position: absolute;
  bottom: 0px;
  width: 50%;
  left: 16px;
  bottom: 16px;
}

.caption .heading {
  font-size: 40px;
  font-weight: bold;
  color: white;
}


@media screen and (max-width: 1177px) {
  .caption .heading {
    font-size: 20px;
  }

  .caption .info {
    font-size: 16px;
    color: white;
  }

}

.caption .info {
  font-size: 16px;
  color: white;
}

.bold {
  font-weight: bold;
}

.blue {
  color: mat-color($app-primary, default);
}

.mall-slide .slid-content .mall-carousel-ind {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  width: fit-content;
  right: 16px;
  line-height: 0 !important;
  text-align: center;
  font-size: 0;
  bottom: 16px;

}

.mall-show-slide div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mall-carousel-ind ul {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.mall-carousel-ind li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  font-size: 14px;
  background-color: #e2e2e2;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}


.mall-carousel-ind li.mall-this {
  background-color: #fff;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  width: 30px;
  border-radius: 14px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
