<mat-card class="main-mat-card">
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let file of files; let i = index">
        <mat-icon mat-list-icon>image</mat-icon>
        <span id="file-label">
          {{ file.data.name }}
        </span>
        <button mat-icon-button color="warn" (click)="remove(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-progress-bar *ngIf="file.inProgress" [value]="file.progress"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" [disabled]="disableUpload" (click)="upload()">
      <mat-icon>file_upload</mat-icon>
      Прикачи
    </button>
    <button [disabled]="disableSubmit" (click)="submitForm()" type="submit" mat-raised-button color="primary">
      <span>Публикувай</span>
    </button>
  </mat-card-actions>
</mat-card>
<input
  class="display-none"
  type="file"
  #fileInput
  id="fileUpload"
  name="fileUpload"
  multiple="multiple"
  accept="image/*"
/>
