<form [formGroup]="filterForm">
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <div>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="Подреди по:" formControlName="orderBy">
          <mat-option [value]="order.key" *ngFor="let order of orders | keyvalue">
            {{ order.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="Цена:" formControlName="orderByPrice">
          <mat-option [value]="order.key" *ngFor="let order of ordersByPrice | keyvalue">
            {{ order.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="Публикувани:" formControlName="orderByPublished">
          <mat-option [value]="order.key" *ngFor="let order of ordersByPublish | keyvalue">
            {{ order.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</form>
