<div class="container" *ngIf="announcement != undefined">
  <div>
    <div class="title-holder">
      <span class="bold">{{ announcement.make }} {{ announcement.model }}</span>
      <span class="bold primary">{{ announcement.price }} {{ announcement.currency }}</span>
    </div>

    <div fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="50%" fxFlex.xs="100%">
        <div>
          <a>
            <img (click)="previewImage()" class="selected-image" [src]="selectedImage.url" />
          </a>
        </div>
        <div class="images-container" fxLayoutAlign="center">
          <div>
            <button class="btn-slide" mat-icon-button color="primary" (click)="scrollLeft()">
              <mat-icon>navigate_before</mat-icon>
            </button>
          </div>

          <div #imagesContent class="images-slider">
            <a *ngFor="let image of images" (click)="selectImage(image)">
              <img class="small-image" [ngClass]="{'selected-small-image': image.isSelected}" [src]="image.url" />
            </a>
          </div>

          <div>
            <button class="btn-slide" mat-icon-button color="primary" (click)="scrollRight()">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign.xs="center">

        <table>
          <th colspan="2">Технически данни</th>
          <tr *ngFor="let optionPair of vehicleOptions | keyvalue">
            <td class="info-item-left">{{optionPair.key}}</td>
            <td class="info-item-right">{{optionPair.value}}</td>
          </tr>
          <tr class="blank_row">
            <td colspan="2"></td>
          </tr>
          <th colspan="2">За контакти</th>
          <tr *ngFor="let optionPair of userOptions | keyvalue">
            <td class="info-item-left">{{optionPair.key}}</td>
            <td class="info-item-right">{{optionPair.value}}</td>
          </tr>
        </table>

      </div>
    </div>

  </div>

</div>
