
.main-mat-card {
  margin: auto;
  max-width: 1168px;
}

.app-form-control {
  width: 280px;
}

.condition-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.form-control-condition {
  width: 180px;
  text-align: start;
  margin: auto;
}

.condition-radio-button {
  margin: 5px;
}

@media screen and (max-width: 900px) {
  .mat-card {
    width: 310px !important;
  }
}
