<mat-card>
  <mat-card-content *ngIf="!isLoading">
    <form [formGroup]="createForm">
      <div class="form-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left">
        <div *ngIf="containsControl('mainCategoryId')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select [disabled]="!isCreateMode" placeholder="Основна категория" formControlName="mainCategoryId">
              <mat-option [value]="categoryPair.mainCategory.id" *ngFor="let categoryPair of categories">
                {{ categoryPair.mainCategory.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('subCategoryId')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Категория" formControlName="subCategoryId">
              <mat-option [value]="subCategory.id" *ngFor="let subCategory of subCategories">
                {{ subCategory.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('conditionType')" fxFlex="47%" class="form-element condition">
          <section>
            <label>Състояние:</label>
            <mat-radio-group formControlName="conditionType">
              <mat-radio-button [value]="name" *ngFor="let name of conditionType | enumToArray">
                {{ getEnumValue(name, conditionType) }}</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>

        <div *ngIf="containsControl('make')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Марка" formControlName="make">
              <mat-optgroup *ngFor="let group of makeGroups | keyvalue" [label]="group.key">
                <mat-option *ngFor="let make of group.value" [value]="make.make">
                  {{ make.make }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('model')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Модел" formControlName="model">
              <mat-option [value]="model" *ngFor="let model of models">{{ model }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('engineType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Тип двигател" formControlName="engineType">
              <mat-option [value]="name" *ngFor="let name of engineType | enumToArray">
                {{ getEnumValue(name, engineType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('horsePower')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Мощност" formControlName="horsePower" />
            <mat-hint>в конски сили</mat-hint>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('emissionStandartType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Евростандарт" formControlName="emissionStandartType">
              <mat-option [value]="name" *ngFor="let name of emissionStandartType | enumToArray">
                {{ getEnumValue(name, emissionStandartType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('gearboxType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Скоростна кутия" formControlName="gearboxType">
              <mat-option [value]="name" *ngFor="let name of gearboxType | enumToArray">
                {{ getEnumValue(name, gearboxType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('price')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Цена" formControlName="price" />
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('currency')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Валута" formControlName="currency">
              <mat-option [value]="name" *ngFor="let name of currency | enumToArray">
                {{ getEnumValue(name, currency) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('dateOfManufacture')" fxFlex="22%" class="form-element">
          <mat-form-field color="primary" appearance="legacy">
            <input placeholder="Дата на производство" formControlName="dateOfManufacture" matInput
              [matDatepicker]="dateOfManufacturePicker" />
            <mat-datepicker-toggle matSuffix [for]="dateOfManufacturePicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfManufacturePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('mileage')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Пробег" formControlName="mileage" />
            <mat-hint>в километри</mat-hint>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('color')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Цвят" formControlName="color">
              <mat-option [value]="color" *ngFor="let color of colors">
                {{ color }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('region')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Регион" formControlName="region">
              <mat-option [value]="region.key" *ngFor="let region of regions | keyvalue"> {{ region.key }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('city')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Населено място" formControlName="city">
              <mat-option [value]="city" *ngFor="let city of cities">{{ city }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('validDays')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Валидност на обявата" formControlName="validDays">
              <mat-option [value]="days" *ngFor="let days of validDays">{{ days }} дни</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('coolingType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Вид охлаждане" formControlName="coolingType">
              <mat-option [value]="name" *ngFor="let name of coolingType | enumToArray">
                {{ getEnumValue(name, coolingType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('numberOfAxels')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Брой оси" formControlName="numberOfAxels" />
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('numberOfSeats')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Брой места" formControlName="numberOfSeats" />
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('weightCapacity')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Товароносимост" formControlName="weightCapacity" />
            <mat-hint>в килограми</mat-hint>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('cubature')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Кубатура" formControlName="cubature" />
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('engineCategoryType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Вид двигател" formControlName="engineCategoryType">
              <mat-option [value]="name" *ngFor="let name of engineCategoryType | enumToArray">
                {{ getEnumValue(name, engineCategoryType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('totalWeight')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Обща маса" formControlName="totalWeight" />
            <mat-hint>в килограми</mat-hint>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('workingVolume')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Работен обем" formControlName="workingVolume" />
            <mat-hint>в килограми</mat-hint>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('hoursOfOperation')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Часове работа" formControlName="hoursOfOperation" />
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('numberOfBeds')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Брой легла" formControlName="numberOfBeds" />
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('toiletType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Тоалетна" formControlName="toiletType">
              <mat-option [value]="name" *ngFor="let name of toiletType | enumToArray">
                {{ getEnumValue(name, toiletType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('airConditionType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Климатик" formControlName="airConditionType">
              <mat-option [value]="name" *ngFor="let name of airConditionType | enumToArray">
                {{ getEnumValue(name, airConditionType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('heatingType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Отопление" formControlName="heatingType">
              <mat-option [value]="name" *ngFor="let name of heatingType | enumToArray">
                {{ getEnumValue(name, heatingType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('materialType')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Материал" formControlName="materialType">
              <mat-option [value]="name" *ngFor="let name of materialType | enumToArray">
                {{ getEnumValue(name, materialType) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('lengthSize')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Дължина" formControlName="lengthSize" />
            <mat-hint>в метри</mat-hint>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('width')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <input matInput type="number" placeholder="Широчина" formControlName="width" />
            <mat-hint>в метри</mat-hint>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('bicycleSize')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Размер" formControlName="bicycleSize">
              <mat-option [value]="size" *ngFor="let size of bicycleSizes">{{ size }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="containsControl('numberOfGears')" fxFlex="22%" class="form-element">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Скорости" formControlName="numberOfGears">
              <mat-option [value]="gears" *ngFor="let gears of numberOfGears">{{ gears }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>

    <button [disabled]="createForm.invalid" (click)="submitForm()" type="submit" mat-raised-button color="primary">
      <span>Публикувай</span>
    </button>
  </mat-card-content>
</mat-card>



<div>



</div>
