.container {
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mat-form-field {
    width: 100%;
    margin-bottom: 18%;
}
.form-container {
    min-height: 100%;
    width: 100%;
}

