.container {
  text-align: center;
  padding: 1em;
}

.xs-container {
  padding: 0px;
}

@media(max-width:600px) {
  ::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
  }
}

::ng-deep .mat-stepper-horizontal{
  background-color: inherit;
}