<div class="container">
    <mat-horizontal-stepper linear #stepper>
        <mat-step [completed]="completed" [editable]="isEditable">
            <ng-template matStepLabel>Публикуване на обява</ng-template>
            <app-first-step (onSubmitAnnouncement)="changeStep($event)"></app-first-step>
        </mat-step>
        <mat-step [completed]="completed" [editable]="isEditable"> 
            <ng-template matStepLabel>Добавяне на снимки</ng-template>
            <app-second-step></app-second-step>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Преглед на обявата</ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>