<mat-card>
  <mat-card-header>
    <button (click)="closeModal()" style="position: absolute; top: 0; right: 0;" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
    <mat-card-title>
      <div class="bold"> {{ data.announcement.make }} {{ data.announcement.model }}</div>
      <div>
        {{description}}
      </div>
    </mat-card-title>
    <mat-card-subtitle class="bold primary">{{ data.announcement.price }} {{data.announcement.currency }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="20px">
      <div fxFlex="60%">
        <div class="change-img-btn-holder">
          <a class="change-img left" (click)="prev()">
            <button mat-raised-button>
              <mat-icon>navigate_before</mat-icon>
            </button>
          </a>
          <a class="change-img right" (click)="next()">
            <button mat-raised-button>
              <mat-icon>navigate_next</mat-icon>
            </button>
          </a>
          <div>
            <a>
              <img class="selected-image" [src]="data.selectedImage.url" />
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="30%">
        <div>
          <a *ngFor="let image of data.images" (click)="selectImage(image)">
            <img class="small-image" [ngClass]="{'selected-small-image': image.isSelected}" [src]="image.url" />
          </a>
        </div>
      </div>

    </div>
  </mat-card-content>

</mat-card>
